$main-text-size: 20px;
$secondary-text-size: 18px;

$row-gap: 40px;
$col-gap: 30px;

$page-padding-x: 35px;
$page-padding-y: 30px;

$card-padding-hover: 10px;
$card-border-radius: 10px;
$card-background-color-hover: #EEEEEE;
$card-width-base: 200px;

$avatar-size: 200px;
$avatar-border-radius: 50%;
$avatar-border-radius-hover: 60px;

$scale-factor: 1.2;
$animation-duration: 1s;

$rank-badge-size: 32px;
$rank-text-size: 16px;
$rank-text-color: #8B0000;
$rank-badge-right-shift: 10px;

$main-line-height: 23px;
$secondary-line-height: 20px;
$main-text-color: #2F4F4F;
$secondary-text-color: #000000;

$number-columns-small: 2;
$number-columns-medium: 2;
$number-columns-big: 4;